{{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
<!-- 引入 微信js-sdk -->
<script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script>
  wx.ready(function () {
    //需在用户可能点击分享按钮前就先调用
    wx.updateAppMessageShareData({
      title: "{{ .Title }}", // 分享标题
      desc: "{{ .Description }}", // 分享描述
      link: "{{ absURL .Permalink  }}", // 分享链接，有反斜杠，需要处理下
      imgUrl: "{{ absURL $image.permalink }}", // 分享图标
      success: function () {
      },
    });
  });
</script>
